<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!--tag pour responsive web design. initialise 'viewport width' à 'device width' et zoom à 1.0. -->

    <title>Reponses à tes questions</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">   <!-- pour definir le style du head-->
    
    <meta name="description" content="Reponses aux questions à partir du contenu d'une conversation">
    <meta name="keywords" content="nlp, conversation, question, reponse">
    <!--tag description et keyword pour faciliter le travail des moteurs de recherche-->
    <meta name="author" content="Rémi Cazelles">

</head>

<body>
    <h1>Item ID: {{id}}</h1>
    
</body>
</html>
